--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.2.0
tokenizers
spacy
spacy-transformers==1.3.4
transformers<4.18,>=4.1
spacy-streamlit==1.0.6
streamlit==1.32.2
streamlit-shadcn-ui==0.1.18
fastapi==0.110.0
uvicorn==0.29.0
streamlit-extras==0.4.0
validators==0.23.2